{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="property-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="pd-details-text">
                    <h3 class="pd-desc font-weight-bold">{{property.title}}
                        <hr>
                    </h3>
                    <div class="property-more-pic">
                        <div class="product-pic-zoom">
                            <img class="product-big-img" src="{% static property.thumbnail.url %}" alt="">
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel">
                                <div class="pt" data-imgbigurl="{% static property.thumbnail.url %}">
                                    <img src="{% static property.thumbnail.url %}" alt=""></div>
                                {% for image in images %}
                                <div class="pt" data-imgbigurl="{% static image.image.url %}">
                                    <img src="{% static image.image.url %}" alt=""></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="pd-desc">
                        <h4>Description</h4>
                        <p>{{property.description}}</p>
                    </div>
                    <div class="pd-details-tab">
                        <div class="tab-item">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-toggle="tab" href="#tab-1" role="tab">Overview</a>
                                </li>

                            </ul>
                        </div>
                        <div class="tab-item-content">
                            <div class="tab-content">
                                <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                    <div class="property-more-table">
                                        <table class="left-table">
                                            <tbody>
                                            <tr>
                                                <td class="pt-name">Night Price</td>
                                                <td class="p-value">$ {{property.rate}}</td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">City</td>
                                                <td class="p-value">{{property.city.name}}</td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">Address</td>
                                                <td class="p-value overview-description">{{property.address}}</td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">Pax</td>
                                                <td class="p-value">{{property.pax}}</td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">Rooms</td>
                                                <td class="p-value">{{property.rooms}}</td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">Beds</td>
                                                <td class="p-value">{{property.beds}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="right-table">
                                            <tbody>
                                            <tr>
                                                <td class="pt-name">Bathrooms</td>
                                                <td class="p-value">{{property.bathrooms}}</td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">Garage</td>
                                                <td class="p-value">
                                                    {% if property.garage %}
                                                    Yes
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">Pets</td>
                                                <td class="p-value">
                                                    {% if property.pets %}
                                                    Yes
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">Wifi</td>
                                                <td class="p-value">
                                                    {% if property.wifi %}
                                                    Yes
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">Pool</td>
                                                <td class="p-value">
                                                    {% if property.pool %}
                                                    Yes
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pt-name">Kitchen</td>
                                                <td class="p-value">
                                                    {% if property.garage %}
                                                    Yes
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="property-sidebar">
                    <h4 class="mb-3">Reservation</h4>
                    <div class="contact-text">
                        <form action="/doABooking/" class="contact-form" id="reserve-form" method="post"
                              onsubmit="event.preventDefault(); validateMyForm2();">
                            {% csrf_token %}
                            <input id="idProperty" name="idProperty" type="hidden" value="{{property.id}}"/>
                            <input id="totalDays" name="totalDays" type="hidden" value="0"/>
                            <input type="text" placeholder="First Name" name="firstname" id="firstname" onkeydown="changeColor(this);">
                            <input type="text" placeholder="Last Name" name="lastname" id="lastname" onkeydown="changeColor(this);">
                            <input type="email" placeholder="Email" name="email" id="email" onkeydown="changeColor(this);">

                            <label for="datePickCheckin">Check-In:</label>
                            <input id="datePickCheckin" name="datePickCheckin" placeholder="dd/mm/aaaa" onchange="changeColor(this);"/>

                            <label for="datePickCheckout">Check-Out:</label>
                            <input id="datePickCheckout" name="datePickCheckout" placeholder="dd/mm/aaaa" onchange="changeColor(this);"/>

                            <div id="totalPriceDiv" class="mt-4">
                                <span id="pricePerNight"></span> x <span id="nights"></span>
                                <span class="pull-right" id="subTotal"></span>
                                <hr>
                                Service tax: <span class="pull-right" id="serviceTax"></span>
                                <hr>
                                <b>Total:</b><b class="pull-right" id="total">$15254</b>
                            </div>
                            <button type="submit" class="site-btn mt-4" onclick="validate();">Reserve</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    var onlyThisDates = [{% for date in reserved_dates %}"{{date}}", {% endfor %}];
    var onlyThisDates2 = [];
    var selectedCheckinDate = "";

    var midatepicker2 = $('#datePickCheckout').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true,
    }).change(function () {
        showTotalPriceDiv(midatepicker.val(), $(this).val())
    });

    midatepicker2.prop('disabled', true);

    var midatepicker = $('#datePickCheckin').datepicker({
        format: "dd-mm-yyyy",
        startDate: "today",
        autoclose: true,
        beforeShowDay: function (date) {
            var dt_ddmmyyyy = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear();
            return (onlyThisDates.indexOf(dt_ddmmyyyy) != -1);
        }
    }).change(function () {
        selectedCheckinDate = $(this).val();
        onlyThisDates2 = setPeriodDates();
        var startDate = onlyThisDates2[0];
        var endDate = onlyThisDates2.pop();

        midatepicker2.datepicker('setStartDate', startDate);
        midatepicker2.datepicker('setEndDate', endDate);
        midatepicker2.datepicker('setDate', $(this).val());

        midatepicker2.prop('disabled', false);
    });
    
    function setPeriodDates() {
        let dateSplited = selectedCheckinDate.split("-");
        let day = Number(dateSplited[0]);
        let month = dateSplited[1];
        let year = dateSplited[2];
        var i = onlyThisDates.indexOf(day + "-" + month + "-" + year) + 1;
        var dateParts = selectedCheckinDate.split("-");

        var aux = new Date(dateParts[2] < 10 ? "0" + dateParts[2] : dateParts[2], dateParts[1] - 1, +dateParts[0]);
        var period = [selectedCheckinDate];

        aux.setDate(aux.getDate() + 1);
        for (i; i < onlyThisDates.length; i++) {
            let date = onlyThisDates[i].split("-");
            let nextDate = new Date(dateParts[2] < 10 ? "0" + dateParts[2] : dateParts[2], date[1] - 1, +date[0]);

            if (aux.getTime() == nextDate.getTime()) {
                let dd = aux.getDate() < 10 ? "0" + aux.getDate() : aux.getDate();
                let mm = aux.getMonth() < 10 ? "0" + aux.getMonth() : aux.getMonth();
                mm++;
                let yyyy = aux.getFullYear();
                period.push(dd + "-" + mm + "-" + yyyy);
            }
            aux.setDate(aux.getDate() + 1);
            nextDate.setDate(nextDate.getDate() + 1);
        }
        return period;
    }

    document.getElementById("totalPriceDiv").style.display = "none";

    function showTotalPriceDiv(checkin, checkout) {

        const splittedCheckin = checkin.split("-");
        const splittedCheckout = checkout.split("-");

        const finalCheckin = new Date(splittedCheckin[2] + "-" + splittedCheckin[1] + "-" + splittedCheckin[0]);
        const finalCheckout = new Date(splittedCheckout[2] + "-" + splittedCheckout[1] + "-" + splittedCheckout[0]);

        var differenceInTime = finalCheckout.getTime() - finalCheckin.getTime();
        var differenceInDays = differenceInTime / (1000 * 3600 * 24) + 1;

        var pricePerNight = {{ property.rate }}

        var subTotal = pricePerNight * differenceInDays;
        var serviceTax = subTotal * 0.08;
        var total = subTotal + serviceTax;

        document.getElementById("pricePerNight").innerHTML = "$" + pricePerNight;
        document.getElementById("nights").innerHTML = differenceInDays;
        document.getElementById("subTotal").innerHTML = "$" + subTotal;
        document.getElementById("serviceTax").innerHTML = "$" + serviceTax;
        document.getElementById("total").innerHTML = "$" + total;
        document.getElementById("totalDays").value = differenceInDays;

        document.getElementById("totalPriceDiv").style.display = "block";
};


</script>


{% endblock %}