{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="spad">
    <div class="container">


        {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Ups! something went wrong: </strong><br>
            <ul class="ml-5">
                {% for error in errors%}
                <li>{{error}}</li>
                {% endfor%}
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif%}


        <div class="row">
            <div class="col-lg-12">
                <div class="contact-text">
                    <div class="section-title">
                        <span style="font-size: 20px;">Register</span>
                        <h2>Start Posting Now</h2>
                    </div>
                    <form action="/createUser/" class="contact-form" method="post"
                          onsubmit="event.preventDefault(); validateMyForm();" id="registerForm">
                        {% csrf_token %}
                        <label for="email">Email Address</label>
                        <input type="text" placeholder="email@example.com" name="email" id="email">

                        <label for="username">Username</label>
                        <input type="text" placeholder="John123" name="username" id="username">

                        <label for="password">Password</label>
                        <input type="password" placeholder="*****" name="password" id="password">

                        <small class="form-text text-muted ml-1">Your password can’t be entirely numeric.</small>
                        <small class="form-text text-muted ml-1">Your password must contain at least 8
                            characters.</small>
                        <small class="form-text text-muted ml-1">Your password must contain at least 1 uppercase
                            character</small>

                        <label for="firstname" class="mt-3">Firstname</label>
                        <input type="text" placeholder="John" name="firstname" id="firstname">

                        <label for="lastname">Lastname</label>
                        <input type="text" placeholder="Doe" name="lastname" id="lastname">

                        <label for="dni">Dni</label>
                        <input type="number" placeholder="Your DNI" min="1" max="99999999" name="dni" id="dni">

                        <button type="submit" class="site-btn" onclick="validate();">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}